.main-bg__stars-moving-left {
	width:100%;
	height:100%;
	position:absolute;
	background-image:url(../img/stars-moving-left.png);
	-webkit-animation: moveleft 200s infinite linear;
    -moz-animation: moveleft 200s infinite linear;
    -ms-animation: moveleft 200s infinite linear;
    -o-animation: moveleft 200s infinite linear;
    animation: moveleft 200s infinite linear;
}
.main-bg__stars-moving-right {
	width:100%;
	height:100%;
	position:absolute;
	background-image:url(../img/stars-moving-right.png);
	-webkit-animation: moveright 100s infinite linear;
    -moz-animation: moveright 100s infinite linear;
    -ms-animation: moveright 100s infinite linear;
    -o-animation: moveright 100s infinite linear;
    animation: moveright 100s infinite linear;
}
@-webkit-keyframes moveleft {
  from {
    background-position: 0;
  }
  to {
    background-position: -1920px 0;
  }
}
@-moz-keyframes moveleft {
  from {
    background-position: 0;
  }
  to {
    background-position: -1920px 0;
  }
}
@-ms-keyframes moveleft {
  from {
    background-position: 0;
  }
  to {
    background-position: -1920px 0;
  }
}
@-o-keyframes moveleft {
  from {
    background-position: 0;
  }
  to {
    background-position: -1920px 0;
  }
}
@keyframes moveleft {
  from {
    background-position: 0;
  }
  to {
    background-position: -1920px 0;
  }
}

@-webkit-keyframes moveright {
  from {
    background-position: 0;
  }
  to {
    background-position: 1920px 0;
  }
}
@-moz-keyframes moveright {
  from {
    background-position: 0;
  }
  to {
    background-position: 1920px 0;
  }
}
@-ms-keyframes moveright {
  from {
    background-position: 0;
  }
  to {
    background-position: 1920px 0;
  }
}
@-o-keyframes moveright {
  from {
    background-position: 0;
  }
  to {
    background-position: 1920px 0;
  }
}
@keyframes moveright {
  from {
    background-position: 0;
  }
  to {
    background-position: 1920px 0;
  }
}