@font-face {
	font-family:'Helvetica Neue';
	src:url(../fonts/HelveticaNeueLTPro-Th.otf);
}
@font-face {
	font-family:'Helvetica Neue';
	src:url(../fonts/HelveticaNeueLTPro-Bd.otf);
	font-weight:bold;
}
body {
	background-image: url(../img/bg.jpg);
	background-size:cover;
	font-family:'Helvetica Neue';
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	color:white;
	max-height:100%;
	overflow:hidden;
}
footer {
	position:absolute;
	bottom:15px;
	right:0;
	text-align:right;
}
footer a {
	display:block;
	color:white;
	padding:10px 20px;
	text-decoration:none;
	font-size:20px;
	letter-spacing:4px;
	transition:0.3s;
	opacity:0.5;
}
footer a:hover {
	color:white;
	opacity:1;
	text-decoration:none;
}
footer a:focus {
	text-decoration:none;
}
.content {
	padding:20px;
	background-color:rgba(64, 65, 95, 0.9);
	border-radius:3px;
    margin:50px auto 0;
    max-width:65%;
    min-height:560px;
    position:relative;
    max-height:960px;
    overflow:auto;
}
.tasks {
	width:100%;
	text-align:center;
}
.tasks tr:first-child {
	background-color:rgba(152, 152, 152, 0.5);
	border-bottom: 2px solid #843c3c;
}
.tasks tr:nth-child(odd):not(:first-child) {
	background-color:rgba(222, 184, 184, 0.5);
}
.tasks tr:nth-child(even):not(:first-child) {
	background-color:rgba(153, 154, 202, 0.5);
}
.tasks tr.complete:nth-child(even), .tasks tr.complete:nth-child(odd) {
	background-color:rgba(117, 206, 124, 0.5);
}
.tasks th {
	text-align:center;
	padding:10px;
	width:20%;
}
.tasks th a {
	color:#97a2fd;
}
.tasks td {
	padding:20px;
	font-size:20px;
	color:#c7c7c7;
	vertical-align:top;
	height:100%;
	width:20%;
	max-height:320px;
	overflow:auto;
}
.create-task {
	color: white;
    font-size: 25px;
    margin: 5px 0 20px;
    text-align: center;
    display: block;
    transition:0.3s;
}
.create-task:hover {
	color:#9C9C9C;
	text-decoration:none;
}
.modal {
    margin:auto;
    background-color:rgba(255,255,255,0.9);
}
.modal form {
    max-width: 65%;
    margin: 70px auto 0 auto;
}
.modal input, .modal textarea {
	width:98%;
	padding:10px 20px;
	margin:1%;
	resize: none;
	color:black;
}
.modal input[type="file"] {
	display:none;
}
.image-upload {
    display: block;
    cursor: pointer;
    margin: 1%;
    padding: 1%;
    border: 2px solid black;
    color:black;
    transition:0.3s;
}
.image-upload:hover, .image-upload.uploaded {
	background-color:black;
	color:white;
}
.close-modal{
	right: 1%;
    top: 4%;
    position: absolute;
    font-size: 35px;
    cursor:pointer;
    color:black;
}
.pagination {
	display: block;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    margin: 0;
    left: 0;
}
.pagination .button {
	display:inline-block;
	width:10px;
	height:10px;
	background-color:white;
	border-radius:100%;
	vertical-align:middle;
	margin:5px;
}
.pagination .button.active {
	width:15px;
	height:15px;
}
.preview-block {
	display:none;
	width:100%;
    height:100%;
    bottom:0;top:0;
    left:0;right:0;
    margin:auto;
    position:absolute;
    background-color:rgba(255,255,255,0.8);
}
.preview {
    margin: 0;
    padding: 30px;
    margin-top: 250px;
    background-color: #cccccc;
}
.preview div {
	font-size:20px;
}
.preview-image {
	max-width:100%;
}
.authorize {
	font-size:20px;
	position:absolute;
	right:20px;
	top:20px;
	color:#9C9C9C;
	transition:0.3s;
	text-decoration:none;
}
.authorize:hover {
	text-decoration:none;
	color:white;
}
.loginform {
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginform input {
	display:block;
	padding:10px 50px;
	margin:10px auto;
	text-align:center;
}
.loginform input[type=submit], .modal input[type="submit"] {
	color:black;
	transition:0.3s;
}
.loginform input[type=submit]:hover, .modal input[type="submit"]:hover {
	letter-spacing: 3px;
}
.complete-task {
	float: right;
    color: white;
}
.edit-description {
	resize:none;
	-webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
    -moz-box-sizing: border-box; /* FF1+ */
    box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5. */
    height:100%;
    width:100%;
    background-color: transparent;
    border: 0;
}
.categories__category {
	background-color: rgba(0,0,0,0.2);
	display:block;
	padding:20px;
	margin-left:0;
	transition:0.3s;
}
.categories__category:hover {
	background-color: rgba(0,0,0,0.5);
}
.categories__category-name {
	color:white;
	font-size:20px;
	text-align:center;
	transition:0.3s;
}
.modal label {
	color:black;
}
.checkbox-area {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.create {
    color: white;
    font-size: 25px;
    text-align: center;
    width: 49%;
    padding: 1%;
    display: inline-block;
    transition: 0.3s;
}
.create:hover, .categories__category-name:hover {
	color:#cac6c6;
	text-decoration:none;
}
.product {
	position:relative;
	margin:8px 0;
}
.product:hover .product__name {
	letter-spacing: 5px;
}
.products {
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	flex-wrap:wrap;
}
.product__name {
	transition:0.3s;
	font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: -28px;
    position: relative;
    background-color: rgba(255,255,255,0.6);
    color: black;
}
.price-block {
	position: absolute;
    bottom: 5px;
    right: 10px;
    color:white;
}
.price.old {
	text-decoration: line-through;
}
.categories {
	margin-top:7px;
}
.logo {
	font-size: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
    color: #9C9C9C;
    transition: 0.3s;
    text-decoration: none;
}
.logo:hover {
	color:white;
	text-decoration: none;
}